#map {
    width: 95%;
    height: 95%;
}
#lado {
    display:flex;
    flex-wrap: wrap;
    align-items: start;
    height: 450px;
    align-content: space-between;
}
#lado h2{
    margin: 10px 5px;
    color: #fff;
}

#btn-container {
    height:30px;
    width:30px;
    margin-bottom: 20px;
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000; /* Asegura que el botón esté por encima del mapa */
}

#btn-centrar-mapa {
    height:auto;
    width:auto;
    background-color: white;
    border:2px solid rgba(0, 0, 0, 0.2);
    color: black;
    padding: 1px;
    cursor: pointer;
    border-radius: 5px;
}

.divMapa_Boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 22rem;
}
.cuerpo_medio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscador-container {
  position: relative;
}

#resultados {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  max-height: 8rem;
  overflow-y: auto;
  z-index: 1000;
}

#resultados.fill{
  display: block;
}

.resultado {
  display: block;
  width: 100%;
  padding: 6px 10px;
  background: white;
  border: none;
  text-align: left;
  cursor: pointer;
}
.resultado:hover {
  background: #eee;
  color: #000;
}

.switchResUbicacion{
  bottom: 9rem;
  z-index: 1000;
}
#nextUbicacion{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}
#prevUbicacion{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

