table td[colspan]{
    border-top: 1px solid #000;
}

.primerDivProd{
    background-color: #D9D9D9;
}
.productos{
    background-color: #fff;
}

.productos table .imgProd img{
    width: auto;
    height: auto;
    max-height: 100%;
    padding: 2px;
}
.productos table .imgProd a{
    width: 100%;
    height: 100%;
}
.productos table .imgProd{
    border: 1px solid #000;
    border-radius: 7px;
    width: 7rem;
    height: 7rem;
}
.productos table{
    border: 1px solid #000;
}
.footerTable,.tableCenter{
    border-top: none!important;
}
.productos table th{
    border-left: 1px solid #000;
    background-color: #F3F3F3;
}
.productos table.footerTable th{
    border-left: none;
    border-bottom: 1px solid #000;
}
.productos table.footerTable .centerTable{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.productos table th p{
    text-align: center;
}
.productos table .firstTh{
    border-left: none;
}

.productos table tbody tr,#tdUbicacion{
    border-top: 1px solid #000;
}
.productos table td{
    border-left: 1px solid #000;
}
.productos table .emptyBody td{
    height: 2rem;
}
.productos table td.firstTd{
    border-left: none;
}
.productos table .txtTh{
    font-weight: normal;
}

.productos table .producto .btnsProd button{
    border-radius: 7px;
    border: 1px solid #000;
    height: fit-content;
    width: 1.5rem;
}
.productos table .producto .btnsProd button.editProducto:hover{
    background-color: #eaeaea;
}
.productos table .producto .btnsProd button.deleteProducto{
    background-color: #FFAAAA;
}
.productos table .producto .btnsProd button.deleteProducto:hover{
    background-color: #ff8b8b;
}

#div-fotos-newVenta .drop-area{
    width: 90%;
    min-height: 10rem;
}
#preview-fotos-newVenta{
    height: 7rem;
    overflow-y: auto;
}
#preview-fotos-newVenta img {
    width: 6.4rem;
    height: fit-content;
}


table select,
table ::picker(select){
    appearance: base-select!important;
}
table select:focus{
    box-shadow: none!important;
}
table select{
    background-color: #fff!important;
    color: #000;
    border: 1px solid #ced4da!important;
    align-items: center!important;
    width: 50%!important;
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}
table select selectedcontent{
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    overflow: hidden!important;
}
table select::picker-icon{
    color: #00000000!important;
    width: 0.75rem!important;
    height: 0.75rem!important;
    background-image: url("@/../assets/icons/down.svg")!important;
    background-repeat: no-repeat!important;
    background-size: 0.75rem!important;
    background-position: center!important;
}
table select:open::picker-icon{
    background-image: url("@/../assets/icons/up.svg")!important;
}
table ::picker(select){
    border: 1px solid #ced4da!important;
    border-radius: 7px!important;
    width: fit-content!important;
    overflow-x: auto!important;
    box-shadow: 0 0 1px 1px #6b8aaa;
}
table select option{
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-left: 0.75rem!important;
    padding-right: 0.75rem!important;
    width: 100%!important;
    gap: unset!important;
}
table select option:nth-of-type(odd){
    background-color: #f5f5f5!important;
}
table select option:hover{
    background-color: #e1e1e1!important;
}
table select option:checked{
    background-color: #D7D7D7!important;
}
table select option::checkmark{
    content: none!important;
}


#invalid-fechaVenta-newVenta{
    width: 91.66666667%!important;
}

#btnConfirmarVenta:hover,
#btnConfirmacionDevolucion:hover,
#btnModificarVenta:hover{
    background-color: #2a129d;
}
#btnConfirmarVenta,
#btnConfirmacionDevolucion,
#btnModificarVenta{
    background-color: #421CFF;
    color: #fff;
    border: 1px solid #ced4da!important;
}

#invalid-map{
    background-color: #000000d6;
    bottom: -0.55rem;
    z-index: 1000;
}

.datosEnvio input,.datosEnvio textarea,.datosReceptor input,.fechaEntrega input{
    border: 1px solid #000;
}
.datosEnvio textarea{
    height: 8.5rem;
    resize: none;
    overflow-y: auto;
}

#tdReceptor{
    vertical-align: top;
    border: none!important;
    border-top: 1px solid #000!important;
    border-left: 1px solid #000!important;
}

#cantidadProdsVenta{
    border-right: 1px solid #000;
}
table #subtotalVenta{
    border-left: 1px solid #000;
}

#modalCancelarVenta .modal-xl,
#modalCancelarModificacionVenta .modal-xl,
#modalConfirmacionDevolucion .modal-xl,
#modalCancelarDevolucion .modal-xl{
    width: 60%!important;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display: flex!important;
    justify-content: center!important;
    padding-bottom:5px !important;
    padding-top:5px !important;
}
.carousel-control-next:hover,
.carousel-control-prev:hover{
    background-color: #0000005e;
}
.carousel-control-next,
.carousel-control-prev{
    width: 8%;
}
.carousel-inner{
    width: 100%;
    height: inherit;
}
.carousel,.carousel-item {
    height: inherit;
}

.recibosTd{
    background-color: #d4d9e5;
    height: 22rem;
    border-left: unset!important;
    border-right: unset!important;
}

.vetricalAlign{
    vertical-align: top;
}

.firstDivDevVent{
    height: 7.5rem;
}
.devProdFijo{
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.devVentDiv{
    background-color: #00000075;
}
.devVentDiv div.infDevProd{
    background-color: #fff;
    border-radius: 7px;
    height: 100%;
}
.devVentDiv div select{
    padding: 0.25rem;
    border-radius: 5px;
    width: 80%!important;
}
.devVentDiv div input::placeholder,.devVentDiv div textarea::placeholder{
    color: #1b1b1b;
}
.devVentDiv div input{
    padding: 0.25rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 80%!important;
}
.devVentDiv div textarea:focus-visible,.devVentDiv div input:focus-visible{
    outline: none!important;
}
.devVentDiv textarea.form-control:focus,.devVentDiv input.form-control:focus,.devVentDiv select.form-control:focus{
    color: #000;
    background-color: #fff;
    border: 1px solid #ced4da;
    outline: 0!important;
    box-shadow: none;
}
.devVentDiv div textarea{
    width: 100%;
    height: 75%;
    border-radius: 7px;
    border: none!important;
    resize: none;
    overflow-y: auto;
    padding: 0.5rem;
}
html [data-lpop-hide-native-caret]{
    caret-color: unset;
}
.border_right{
    border-right: 1px solid #000!important;
}
.border_left{
    border-left: 1px solid #000!important;
}